<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>분실물 등록</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <form method="POST" class="post-form" action="/create_lost" enctype="multipart/form-data">

        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>분실물 등록하기</h3>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <form method='POST'>
                        {% csrf_token %} {{ form.as_p }}
                        <button type='submit'>등록하기</button>
                    </form>
                </div>
            </div>
            
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" />
</body>
</html>-->

<html>
    <head>
        <title>분실물 등록</title>
    </head>
    <body>
        <form method="POST" class="post-form" action="/create_lost" enctype="multipart/form-data">
        <h1><a href="/">홈으로 돌아가기</a></h1>
          <div>
        <section>
            <h2>분실물 등록하기</h2>
            <form method='POST'>
                {% csrf_token %} {{ form.as_p }}
              <button type='submit'>등록하기</button>
            </form>
          </div>
        </section>
    </form>
    </body>
</html>