<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>습득물 목록</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                     <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            {% endif %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>습득물</th>
                        <th>상세설명</th>
                        <th>사진</th>
                        <th>습득일자</th>
                        <th>수거함 위치</th>
                        <th>게시일</th>
                    </tr>
                </thead>
                <tbody>
                    {% for value in lost %}
                    <tr>
                        <td>{{ value.lstPrdtNm }}</td>
                        <td>{{ value.lstcontent }}</td>
                        <td><a href="{% url 'detail_lost' pk=value.pk %}">{% if value.lstFilePathImg %}<img src="/media/{{ value.lstFilePathImg }}" class="img img-responsive" width="100px">{% endif %}</a></td>
                        <td>{{ value.lstYmd }}</td>
                        <td>{{ value.lstPlace }}</td>
                        <td>{{ value.create_date }}</td>
                        <td><a class="btn btn-success btn-sm" href="{%url 'edit_lost' pk=value.pk%}"> 수정</a><a class="btn btn-danger btn-sm" onclick="return confirm('정말 삭제하시겠습니까?')" href="/delete_lost/{{ value.id }}"> 삭제</a></td>
                    </tr>
                    {% empty %}
                    <tr><td>No Record Found!</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br><br>
    <center><a href="/create_lost" class="btn btn-primary">습득물 신고하기</a><a href="/take_upload" class="btn btn-primary">이미지 촬영하기</a></center>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" />
</body>
</html>