<form action="" id="signup" method="POST" novalidate>
  {% csrf_token %}
  <div>
    <label name="label_username" for="{{ form.username.id_for_label }}">
          {{ form.username.label }}
    </label>
    {{ form.username }}
    <script type="text/javascript">
          if (document.getElementsByName('username')[0].value != '') {
            document.getElementsByName('label_username')[0].setAttribute('class','active');
          }
    </script>

    {% if form.username.errors %}
      <script type="text/javascript">
          document.getElementsByName('username')[0].setAttribute('class', 'form-control is-invalid')
      </script>
      {% for error in form.username.errors %}
      <div class="invalid-feedback">
          {{ error }}
      </div>
      {% endfor %}
    {% endif %}
      
    <small>
          로그인 시 사용할 아이디를 입력해주세요.
    </small>
  </div>
  //
</form>